modules/animal-management/flows/AdoptAnimal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Assigns the selected contact to the Animal record and sets the adoption flag</description>
        <name>AssignOwner</name>
        <label>Assign Owner</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>GetAnimalRecord.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adopter.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAnimalRecord.Adopted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AdoptAnimal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the pet is already adopted</description>
        <name>IsAdopted</name>
        <label>Is Adopted</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>SelectFutureOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Available for Adoption</defaultConnectorLabel>
        <rules>
            <name>IsAlreadyAdopted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAnimalRecord.Adopted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlreadyAdopted</targetReference>
            </connector>
            <label>Is Already Adopted</label>
        </rules>
    </decisions>
    <description>Triggers the animal adoption process</description>
    <interviewLabel>AdoptAnimal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Adopt Animal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the current Animal Record</description>
        <name>GetAnimalRecord</name>
        <label>Get Animal Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAdopted</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AdoptErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AdoptAnimal</name>
        <label>Adopt Animal</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <faultConnector>
            <targetReference>AdoptErrorScreen</targetReference>
        </faultConnector>
        <inputReference>GetAnimalRecord</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>AdoptErrorScreen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Oh No&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(250, 5, 74);&quot;&gt;Something Went Wrong!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AlreadyAdopted</name>
        <label>Already Adopted</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlreadyAdoptedText</name>
            <fieldText>&lt;p&gt;{!GetAnimalRecord.AnimalName__c} has already an owner and cannot be adopted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectFutureOwner</name>
        <label>Select Future Owner</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignOwner</targetReference>
        </connector>
        <fields>
            <name>Adopter</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Owner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Who is Adopting {!GetAnimalRecord.AnimalName__c}?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Animal__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAnimalRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>ID of the current record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
